@import "@assets/css/_base.scss";

.articlesList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;

  @include media-min("base") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    width: 60vw;
    margin: 5rem auto;
  }

  .card {
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.52);
    background-color: #fff;
    border-radius: 0.7rem;
    position: relative;
    cursor: pointer;
    transition: all ease 0.2s;

    &:hover {
      box-shadow: 5px 5px 20px 15px rgba(0, 0, 0, 0.52);
    }

    &:after {
      position: absolute;
      content: attr(read_duration);
      right: 10px;
      bottom: 10px;
    }

    h3 {
      margin: 0;
    }

    img {
      width: 100%;
    }

    &.vignetteMin {
      display: flex;
      align-items: center;
      height: fit-content;
      gap: 1rem;

      img {
        height: 7rem;
        width: 7rem;
        border-radius: 0.7rem 0 0 0.7rem;

        @include media-min("base") {
          min-height: 7rem;
          max-height: 7rem;
          min-width: 10rem;
          max-width: 10rem;
        }
      }
    }

    &.article1 {
      img {
        border-radius: 0.7rem 0.7rem 0 0;
        height: 17rem;
      }

      h3 {
        padding: 2rem;

        @include media-min("base") {
          padding: 2.3rem;
        }
      }

      @include media-min("base") {
        grid-area: 1 / 1 / 4 / 2;
      }
    }

    &.article2 {
      @extend .vignetteMin;

      @include media-min("base") {
        grid-area: 1 / 2 / 2 / 3;
      }
    }

    &.article3 {
      @extend .vignetteMin;

      @include media-min("base") {
        grid-area: 2 / 2 / 3 / 3;
      }
    }

    &.article4 {
      @extend .vignetteMin;

      @include media-min("base") {
        grid-area: 3 / 2 / 4 / 3;
      }
    }
  }
}
