@import "@assets/css/_base.scss";

.section3 {
  margin-top: 2rem;
  margin-right: 0;
  display: block;
  padding: 0.5rem;
  margin-top: 6rem;

  @include media-min("base") {
    margin-right: 2rem;
    margin-top: 10rem;
    padding: 0;
  }

  @include media-min("desktop-up") {
    margin-right: 6rem;
    margin-top: 10rem;
  }

  @include media-min("widescreen-up") {
    margin-top: 15rem;
    margin-right: 10rem;
  }

  > .img_container {
    margin-right: 4rem;
    float: left;

    > img {
      top: 10%;
      position: relative;
    }
  }

  > .text_container {
    > h2 {
      font-size: 1.5rem;
      color: #474747;
      font-weight: 700;
      line-height: 130%;
      margin: 0;
      text-align: right;

      @include media-min("desktop-up") {
        font-size: 2.25rem;
      }

      > span {
        background-color: $primary-color;
        color: #fff;
        padding: 0.3rem 0.6rem;
        display: inline-block;

        @include media-min("desktop-up") {
          padding: 1rem 1.5rem;
        }
      }
    }

    > h3 {
      color: #000;
      font-family: Sedgwick Ave;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 125%;
      text-align: left;

      @include media-min("desktop-up") {
        font-size: 2rem;
        line-height: 175%;
      }
    }

    > p {
      color: #000;
      font-size: 1rem;
      font-weight: 400;
      line-height: 160%;
      text-align: right;

      @include media-min("desktop-up") {
        font-size: 1.5rem;
      }

      > span {
        color: #579eb0;
        font-weight: 700;
      }
    }

    > .show_more {
      display: flex;
      justify-content: end;
      gap: 1rem;
      margin-bottom: 2rem;
      align-items: center;

      > img {
        background-color: $primary-color;
        padding: 0.2rem;
      }
    }

    > a {
      text-decoration: none;

      > button {
        color: #579eb0;
        font-size: 1rem;
        font-weight: 700;
        padding: 0.7rem 1.8rem;
        border: 3px solid $primary-color;
        transition: all 0.3s ease-in-out;
        display: block;
        margin: auto;
        cursor: pointer;

        &:hover {
          border-radius: 0.3rem;
          font-size: 1.1rem;
          background-color: $primary-color;
          color: #fff;
        }

        @include media-min("desktop-up") {
          font-size: 1.25rem;
          padding: 1rem 2.8rem;
          margin-right: 0;

          &:hover {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
