@import "@assets/css/_base.scss";

.section1bis {
  margin-top: 4rem;

  @include media-min("base") {
    margin-top: 0rem;
  }

  > p {
    color: #000;
    font-family: Sedgwick Ave;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
    margin-bottom: 0;

    @include media-min("desktop-up") {
      font-size: 2rem;
      line-height: 140%;
    }

    &.subtext {
      color: #000;
      text-align: center;
      font-family: Montserrat;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 140%;
      margin-top: 4rem;

      @include media-min("desktop-up") {
        font-size: 1.5rem;
        margin: 0;
      }
    }
  }
}
