@import "@assets/css/_base.scss";

.overview {
  @extend ._baseSection;
  backdrop-filter: blur(2px);
  background-color: #fff;
  padding: 5rem 5vw;

  @include media-min("base") {
    padding: 0rem 20vw;
    padding-bottom: 5rem;
  }

  img {
    width: 80vw;
    // display: block;
    box-shadow: 0px 0px 20px 3px rgba(#000, 0.7);
    margin: auto;

    @include media-min("base") {
      width: 40vw;
    }
  }
}
