@import "@assets/css/_base.scss";

.realPresentation {
  @extend ._baseSection;
  text-align: left;
  margin: auto;
  padding: 8rem 10vw;
  padding-bottom: 0;
  background-color: #fff;
  color: $primary-font-color;

  @include media-min("base") {
    padding: 8rem 20vw;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  > .expertsList {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    .expertItem {
      background-color: $primary-color;
      border-radius: 0.5rem;
      font-size: 0.6em;
      color: #fff;
      padding: 0.4rem 0.5rem;

      @include media-min("base") {
        font-size: 0.8em;
        padding: 0.4rem 1rem;
      }
    }
  }
}
