@import "@assets/css/_base.scss";

.devisProspect {
  @extend ._baseSection;

  font-family: "Montserrat";

  h2 {
    font-size: 1.8em;
    margin: 0;

    @include media-min("base") {
      font-size: 2em;
    }
  }

  h3 {
    color: $primary-color;
    margin: 0;
    font-size: 1.6em;
    margin-bottom: 1rem;

    @include media-min("base") {
      font-size: 2em;
    }
  }
}
