@import "@assets/css/_base.scss";

$padding_hero: 1rem;

.heroLeads {
  background-image: url("@assets/images/17545.jpg");
  background-position: right;
  background-size: cover;
  font-family: "Montserrat";
  position: relative;
  height: calc(100vh - $height_header_top);
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > .content {
    max-width: 100%;
    text-align: center;
    padding: 0 0.5rem;
    height: 100%;

    @include media-min("base") {
      flex-direction: row;
      padding: 0;
    }

    > .content_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: fit-content;
      margin: 0 auto;

      @include media-min("base") {
        flex-direction: row;
        margin-top: clamp(0rem, 1vw, 4rem);
      }

      > .social-title {
        @include media-min("base") {
          text-align: left;
          width: 35vw;
        }

        @include media-min("base") {
          text-align: left;
          width: 35vw;
        }

        h2 {
          color: $primary-font-color;
          font-size: 1.2em;

          @include media-min("base") {
            font-size: 1.8em;
          }

          span {
            color: $primary-color;
            font-size: 1.5em;
            display: block;

            @include media-min("base") {
              font-size: 1.8em;
            }

            &:first-of-type {
              margin-top: 1rem;
            }
          }
        }

        h4 {
          color: $primary-font-color;
          font-size: 1em;
          font-weight: normal;
          margin-bottom: 2rem;

          @include media-min("base") {
            font-size: 1.3em;
          }
        }
      }

      > .social-icon {
        .lottie {
          width: 60vw;

          @include media-min("base") {
            display: block;
            width: clamp(10rem, 50vw, 40rem);
          }
        }
      }
    }
  }
}
