@import "@assets/css/_base.scss";

.industries {
  @extend ._baseSection;
  width: 100vw;
  margin: auto;
  color: $primary-font-color;
  padding: 3vw 0;

  @include media-min("base") {
    width: clamp(60vw, 70vw, 90vw);
  }

  > h2 {
    margin-top: 3rem;
  }

  > p {
    margin-bottom: 4rem;
  }

  > .industriesList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    @include media-min("base") {
      gap: 2rem;
    }

    > .industrieItem {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: 15rem;
      min-height: 15rem;
      border-radius: 0.5rem;
      transition: all ease 0.5s;
      word-wrap: break-word;

      @include media-min("base") {
        width: 20rem;
        height: 20rem;
      }

      &:hover {
        background-color: $primary-color;
        color: #fff;
        margin-top: -1rem;

        h3 {
          color: #fff;
        }

        img {
          filter: invert(1);
        }
      }

      h3 {
        color: $primary-color;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        @include media-min("base") {
          padding: 0 1rem;
          font-size: 1em;
        }
      }

      img {
        width: 4rem;
        margin-top: 1rem;

        @include media-min("base") {
          width: 6rem;
          margin-top: 2rem;
        }
      }

      p {
        padding: 0 0.7rem;
        font-size: 0.8em;

        @include media-min("base") {
          padding: 0 1rem;
          font-size: 1em;
        }
      }
    }
  }
}
