@import "@assets/css/_base.scss";

.faq {
  @extend ._baseSection;

  padding: 0;
  margin: 0;

  > .content {
    background-color: #dcebee;
    padding: 3rem 1rem;

    @include media-min("base") {
      padding: 5rem 2rem;
    }

    > h2 {
      @extend ._baseH2Title;
      color: #102d4a;
    }

    > p {
      @extend ._basePTitle;
    }

    .faqList {
      margin-top: 3rem;

      @include media-min("base") {
        width: 50vw;
        margin: 3rem auto;
      }

      .group {
        margin-bottom: 0.6rem;

        .item {
          background-color: #fff;
          position: relative;
          z-index: 1;
          box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.3);
          padding: 0.4rem 1rem;
          text-align: left;
          border-radius: 0.7rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          color: #444444;

          @include media-min("base") {
            padding: 1rem 1rem;
          }

          h3 {
            font-size: 1em;
            margin: 0;
            padding: 0;
          }
        }

        .card {
          background-color: #fff;
          text-align: left;
          border-radius: 0 0 0.7rem 0.7rem;
          font-size: 0;
          height: 0;
          overflow: hidden;
          transition: all ease 0.5s;

          &.open {
            padding: 1.5rem;
            padding-top: 2rem;
            margin-top: -1rem;
            font-size: 0.9em;
            height: auto;

            @include media-min("base") {
              font-size: 1em;
            }
          }

          ul {
            margin: 2rem;

            li {
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }
}
