@import "@assets/css/_base.scss";

.realisationSlider {
  @extend ._baseSection;
  padding: 3rem 0;
  background: $primary-color;
  background: linear-gradient(
    90deg,
    $primary-color,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 1) 55%,
    $primary-color
  );
  min-height: clamp(200px, 80vw, 680px);
  box-sizing: border-box;

  > .slider {
    position: relative;
    overflow: hidden;
    padding: 5% 0;

    > .content {
      position: relative;
      width: clamp(0rem, 65vw, 35rem);
      height: clamp(0rem, 41.14vw, 22.15rem);
      margin: auto;

      > .modalCard {
        > .content {
          > img {
            width: 100%;
            height: auto;
          }

          > .task {
            background-color: #f0f0f0;
            padding: 0.5rem;
          }

          a {
            text-decoration: none;

            > h2 {
              margin-top: 1rem;
              display: flex;
              justify-content: center;
              align-items: center;

              color: #000;
              gap: 0.5rem;

              > img {
                width: 2.5rem;
              }
            }
          }
        }

        &.show {
        }

        &.unshow {
          > .content {
            > .faIcon {
              display: none;
            }
          }
        }
      }

      > .card {
        opacity: 0;
        position: absolute;
        height: 0px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: all 0.6s ease;
        width: 0%;
        height: 0%;

        perspective: 1000px;

        &.card1 {
          opacity: 1;
          z-index: 1;
          width: 35%;
          height: 35%;
          margin-left: -52%;
          margin-top: -7%;
        }

        &.card2 {
          opacity: 1;
          z-index: 2;
          width: 55%;
          height: 55%;
          margin-left: -34%;
          margin-top: 5%;
        }

        &.card3 {
          opacity: 1;
          z-index: 6;
          width: 100%;
          height: 100%;

          &:hover {
            @include media-min("base") {
              width: 142%;
              height: 142%;

              > .cardInner {
                transform: rotateY(180deg);
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
              }
            }
          }
        }

        &.card4 {
          opacity: 1;
          z-index: 2;
          width: 55%;
          height: 55%;
          margin-left: 34%;
          margin-top: 5%;
        }

        &.card5 {
          opacity: 1;
          z-index: 1;
          width: 35%;
          height: 35%;
          margin-left: 52%;
          margin-top: -7%;
        }

        > .cardInner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 1s;
          transform-style: preserve-3d;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;
          border-radius: 0.5rem;

          > .recto {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            > img {
              width: 100%;
              height: 100%;
              border-radius: 0.5rem;
            }
          }

          > .verso {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transform: rotateY(180deg);

            > img {
              width: 100%;
              height: 100%;
              border-radius: 0.5rem;
            }

            > .text {
              padding: 1rem;
              position: absolute;
              top: 0;
              right: 0;
              background-color: #ffffffd6;
              height: -webkit-fill-available;
              border-radius: 0 0.5rem 0.5rem 0;

              > a {
                text-decoration: none;
                position: absolute;
                bottom: 1rem;
                right: 1rem;

                > span {
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  color: #000;
                  gap: 0.5rem;

                  > img {
                    width: 2.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }

    > .left {
      width: 28.5%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 5vw;
      transform: translateY(-50%);
      z-index: 5;
      display: none;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      @include media-min("base") {
        display: flex;
      }

      > img {
        transform: rotate(180deg);
        width: 5rem;
        transition: all 0.4s linear;
        margin-left: 0vw;
      }
    }

    > .right {
      width: 28.5%;
      height: 100%;
      position: absolute;
      top: 50%;
      right: 5vw;
      transform: translateY(-50%);
      z-index: 5;
      display: none;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;

      @include media-min("base") {
        display: flex;
      }

      > img {
        width: 5rem;
        transition: all 0.4s linear;
      }
    }
  }
}
