@import "@assets/css/_base.scss";

.services {
  @extend ._baseSection;
  width: 85vw;
  margin: auto;
  // min-height: 75rem;
  padding: 0;

  // @include media-min("phone-down") {
  //   min-height: 85rem;
  // }

  // @include media-min("tablet-up") {
  //   min-height: 90rem;
  // }

  // @include media-min("custom2") {
  //   min-height: 60rem;
  // }

  > .modalCard {
    &.type2 {
      > .content {
        > h3,
        > h4,
        > span {
          color: #fff;
        }

        > p {
          background-color: #fff;
          color: $primary-color;
        }
      }
    }

    &.type1 {
      > .content {
        > h3,
        > h4,
        > span {
          color: #474747;
        }

        > p {
          background-color: $primary-color;
          color: #fff;
        }
      }
    }

    > .content {
      position: relative;
      padding: 0 1rem;
      box-sizing: border-box;

      > img {
        // margin-top: 30px;
        margin: 1vh;
        width: 27vw;
      }

      > h3 {
        // font-size: 2em;
        font-size: 8vw;
        // margin-top: 1rem;
        margin-top: 0rem;
        font-weight: bold;
        margin-bottom: 0rem;
      }

      > h4 {
        // font-size: 1.5em;
        font-size: 7vw;
        margin: 3vh;
      }

      > p {
        padding: 1rem 1rem;
        // margin: 1rem;
        margin: 0rem;
        line-height: 140%;
        font-size: 1.1em;
        font-weight: bold;
      }

      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #000;
        font-size: 1.1em;
        margin-top: 2vh;

        > img {
          width: 3rem;
        }
      }
    }
  }

  h2 {
    color: #102d4a;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;

    @include media-min("base") {
      font-size: 2.25rem;
      margin-bottom: 3rem;
    }
  }

  > .columns {
    @include media-min("custom2") {
      display: flex;
    }

    > .servicesList {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      row-gap: 1.5rem;
      column-gap: 1.8rem;
      box-sizing: border-box;

      @include media-min("phone-down") {
        row-gap: 1.5rem;
        column-gap: 2rem;
      }

      @include media-min("custom2") {
        width: 55%;
        row-gap: 2rem;
        column-gap: 2.5rem;
        padding-right: 3rem;
      }

      @include media-min("widescreen-up") {
        padding: 2rem 3rem;
        row-gap: 3rem;
        column-gap: 4rem;
      }

      > .card {
        width: 40%;
        height: 7rem;
        flex-grow: 1;
        perspective: 1000px;
        cursor: pointer;

        @include media-min("phone-down") {
          height: 9.5rem;
        }

        @include media-min("tablet-up") {
          height: 12.5rem;
        }

        @include media-min("custom2") {
          height: 13.5rem;
        }

        @include media-min("widescreen-up") {
          height: 14rem;
        }

        &:hover {
          @include media-min("tablet-up") {
            > .flip-card-inner {
              transform: rotateY(180deg);
            }
          }
        }

        > .flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.8s;
          transform-style: preserve-3d;
          /* box-shadow: 0 9px 18px #0000004d; */
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          border-radius: 15px;

          &.bg-blue {
            > .card-back {
              > span {
                > img {
                  filter: invert(1);
                }
              }
            }
          }

          &.bg-white {
            text-decoration: none;
            color: #474747;

            @include media-min("tablet-up") {
              color: #000;
            }
          }

          &.bg-blue {
            background-color: #579eb0;
            color: #fff;
          }

          &.imgcenter {
            .serviceImg {
              margin-left: 24px;
            }
          }

          > .card-front {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media-min("phone-down") {
              justify-content: space-around;
            }

            > .serviceImg {
              margin-top: 0;
              transform: scale(0.7);

              @include media-min("phone-down") {
                transform: scale(1);
                margin-top: 0.5rem;
              }

              @include media-min("widescreen-up") {
                margin-top: 1rem;
              }
            }

            > .serviceTitles {
              > h3 {
                text-align: center;
                font-size: 0.8rem;
                margin: 0;
                padding-left: 0.5rem;
                padding-right: 0.5rem;

                @include media-min("phone-down") {
                  font-size: 1.3rem;
                  margin-top: 0.5rem;
                }

                @include media-min("widescreen-up") {
                  font-size: 1.8rem;
                }
              }

              > p {
                font-size: 1.1rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;

                @include media-min("widescreen-up") {
                  font-size: 1.2rem;
                }
              }
            }
          }

          > .card-front,
          .card-back {
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
          }

          > .card-back {
            transform: rotateY(180deg);

            > p {
              font-size: 1.2rem;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-align: left;
              width: 75%;
              margin: 0;
            }

            > span {
              position: absolute;
              bottom: 1rem;
              right: 1rem;
              display: flex;
              align-items: center;
              gap: 1rem;

              > img {
                width: 3rem;
              }
            }
          }
        }
      }
    }

    > .income {
      width: 100%;
      margin-top: 2.5rem;
      position: relative;

      @include media-min("custom2") {
        width: 45%;
        margin-top: 0;
      }

      > h3 {
        color: #474747;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media-min("phone-down") {
          font-size: 1.7rem;
        }

        @include media-min("widescreen-up") {
          font-size: 2rem;
        }

        .first_line {
          position: relative;

          &:after {
            content: "";
            position: absolute;
            bottom: -1rem;
            left: 0;
            width: 100%;
            height: 1rem;
            background-repeat: no-repeat;
            background-image: url(/src/assets/images/vector-1-income.png);
          }
        }

        .second_line {
          display: inline-block;
          margin-top: 0.25rem;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            bottom: -1rem;
            left: 0;
            width: 100%;
            height: 1rem;
            background-repeat: no-repeat;
            background-image: url(/src/assets/images/vector-2-income.png);
          }
        }
      }

      > .activities {
        list-style: none;
        text-align: left;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 2rem;

        @include media-min("phone-down") {
          font-size: 1.25rem;
        }

        > li {
          display: flex;
          align-items: center;
          margin-bottom: 0.6rem;

          @include media-min("phone-down") {
            margin-bottom: 2rem;
          }

          > span {
            width: 100%;
          }

          &:before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url("@assets/images/income-list-puce.png") no-repeat;
            background-size: contain;
            margin-right: 2rem;
          }
        }
      }

      > .questions {
        font-family: Sedgwick Ave;
        font-size: 1.25rem;
        list-style: none;
        text-align: left;

        @include media-min("phone-down") {
          font-size: 1.5rem;
        }

        @include media-min("widescreen-up") {
          font-size: 1.75rem;
        }

        > li {
          margin-bottom: 0.5rem;

          @include media-min("custom2") {
            margin-bottom: 1.25rem;
          }

          &.specific-question {
            text-align: right;

            @include media-min("phone-down") {
              text-align: left;
            }
          }
        }
      }

      a {
        .arrow-button {
          position: absolute;
          display: flex;
          left: 0;
          align-items: center;
          gap: 2rem;

          @include media-min("phone-down") {
            left: 35%;
          }

          > .service_to_form {
            cursor: pointer;
          }
        }
      }
    }
  }

  > .infos-cards-mobile {
    .black-screen {
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 40;
      left: 0;
      top: 0;
      height: 100000%;
      width: 100%;
      position: absolute;
      display: none;
    }

    .info-card {
      margin: auto;
      border-radius: 1rem;
      padding: 2rem 1rem 1rem 1rem;
      box-sizing: border-box;
      z-index: 50;
      position: absolute;
      left: 50%;
      width: 95%;
      transform: translateX(-50%);
      display: block;

      &.imgcenter {
        .serviceImg {
          margin-left: 40px;
        }
      }

      &.bg-white {
        text-decoration: none;
        color: #000;

        .description {
          background-color: #579eb0;
          padding: 2.5rem 1rem;
          color: #fff;
          font-weight: bold;
          margin-bottom: 1.5rem;
          margin-top: 1.5rem;
        }
      }

      &.bg-blue {
        background-color: #579eb0;
        color: #fff;

        .description {
          background-color: #fff;
          padding: 2.5rem 1rem;
          color: #579eb0;
          font-weight: bold;
          margin-bottom: 1.5rem;
          margin-top: 1.5rem;
        }
      }

      .serviceImg {
        transform: scale(1.4);
      }

      .serviceTitles {
        > h3 {
          font-size: 1.5rem;
          margin-bottom: 0;
        }

        > p {
          font-size: 1.1rem;
          font-weight: bold;
        }
      }

      .know-more {
        text-align: right;
        margin: 0;
      }

      .faIcon {
        transform: scale(2.5);
        position: absolute;
        color: #fff;
        top: -2rem;
        right: 1rem;
        cursor: pointer;
      }
    }
  }
}
