@import "@assets/css/_base.scss";

.team {
  @extend ._baseSection;
  width: 100vw;
  margin: auto;
  box-sizing: border-box;
  padding: 3rem 0;

  @include media-min("base") {
    width: 90vw;
  }

  h2 {
    color: #102d4a;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;

    @include media-min("base") {
      font-size: 2.25rem;
      margin-bottom: 3rem;
    }
  }

  > .teamPictures {
    display: flex;
    height: 38vw;
    position: relative;
    width: 100%;
    overflow: hidden;

    @include media-min("base") {
      justify-content: center;
      height: auto;
    }

    .picture {
      width: 30vw;
      transition: margin 2s linear;
      position: relative;
      left: 0;
      margin-right: -30%;
      display: none;
      height: auto;

      &:hover {
        @include media-min("base") {
          transform: translateY(-10px);
          transition: all linear 0.2s;
        }
      }

      @include media-min("base") {
        margin-right: 0;
        margin-left: 0;
        display: block;
        transition: margin 0s linear;
      }

      &.item0 {
        position: absolute;
        display: block;
        margin-left: -30%;

        @include media-min("base") {
          margin-left: 0%;
        }
      }

      &.item1 {
        position: absolute;
        margin-left: 0%;
        display: block;

        @include media-min("base") {
          margin-left: 0%;
        }
      }

      &.item2 {
        position: absolute;
        margin-left: 30%;
        display: block;

        @include media-min("base") {
          margin-left: 0%;
        }
      }

      &.item3 {
        position: absolute;
        margin-left: 60%;
        display: block;

        @include media-min("base") {
          margin-left: 0%;
        }
      }

      &.item4 {
        position: absolute;
        margin-left: 90%;
        display: block;

        @include media-min("base") {
          margin-left: 0%;
        }
      }

      &.item5 {
        position: absolute;
        margin-left: 120%;
        display: block;

        @include media-min("base") {
          margin-left: 0%;
        }
      }

      &:hover {
        animation-duration: 2s;
        animation-name: zoom;
        animation-iteration-count: infinite;
      }

      @include media-min("base") {
        width: 15vw;
        height: auto;
      }
    }

    @include media-min("base") {
      width: 90vw;
      margin: auto;
    }
  }

  > .about_us {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 2rem;

    @include media-min("base") {
      gap: 2.5rem;
    }

    > p {
      @include media-min("tablet-up") {
        &:not(:first-of-type) {
          line-height: 30px;
        }
      }
    }

    > .description_1 {
      color: #000;
      font-size: 1.125rem;
      font-weight: 600;
      width: 90vw;
      margin: auto;
      display: block;

      @include media-min("base") {
        width: 90vw;
        font-size: 2rem;
      }

      > .span_1 {
        background: #579eb0;
        color: white;
        display: inline-block;
        padding: 0.5rem;
      }

      > .span_2 {
        color: #579eb0;
      }
    }

    > .description_2 {
      display: block;
      color: #000;
      font-weight: 400;
      width: 90vw;
      margin: auto;
      font-size: 1rem;

      @include media-min("base") {
        width: 80vw;
        font-size: 1.25rem;
      }
    }

    > .description_3 {
      color: #000;
      font-size: 1rem;
      font-weight: 400;
      width: 90vw;
      margin: auto;

      @include media-min("base") {
        width: 68vw;
        font-size: 1.25rem;
      }

      > br {
        display: none;

        @include media-min("base") {
          display: block;
        }
      }

      .span_3 {
        font-weight: bold;
        position: relative;

        &:after {
          @include media-min("tablet-up") {
            content: "";
            position: absolute;
            bottom: -1rem;
            left: 0;
            width: 100%;
            height: 1rem;
            background-repeat: no-repeat;
            background-image: url(/src/assets/images/Vector_1.png);
          }
        }
      }
    }
  }

  button {
    border-radius: 1.8rem;
    padding: 0.8rem 2rem;
    background: #474747;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
    cursor: pointer;

    @include media-min("base") {
      font-size: 1.25rem;
      padding: 1rem 2rem;
    }
  }
}

@keyframes first {
  0% {
    margin-left: 0;
    display: block;
  }

  100% {
    margin-left: -200px;
    display: none;
  }
}

// @keyframes team-sliding {
//   0% {
//     transform: translateX(0);
//   }

//   90% {
//     transform: translateX(-50vw);
//   }

//   100% {
//     transform: translateX(0);
//   }

// }

// @keyframes zoom {
//   0% {
//     background-image: url(/src/assets/images/chandara.png);
//     background-repeat: no-repeat;
//   }

//   25% {
//     background-image: url(/src/assets/images/chandara.png);
//     background-repeat: no-repeat;
//   }

//   75% {
//     background-image: url(/src/assets/images/chandara-zoom.png);
//     background-repeat: no-repeat;
//   }

//   100% {
//     background-image: url(/src/assets/images/chandara-zoom.png);
//     background-repeat: no-repeat;

//   }
// }
